{% extends "index.html" %}





{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-8">
            <div class="lines">
                <div class="linesx"></div>
                <small>GET IN TOUCH</small>
                <div class="linesx"></div>
            </div>
            <div class="row">
                <div class="col-sm-6 mt-2 p-2">
                    <input class="w-100 p-1 rounded-3" type="text" placeholder="Name">
                </div>
                <div class="col-sm-6 mt-2 p-2">
                    <input class="w-100 p-1 rounded-3" type="email" placeholder="E-Mail">
                </div>
                <div class="col-sm-12 mt-2 p-2">
                    <input class="w-100 p-1 rounded-3" type="text" placeholder="Subject">
                </div>
                <div class="col-sm-12 mt-2 p-2">
                    <textarea class="w-100 p-1 rounded-3" name="" id="" rows="8" placeholder="Your Message Here..."></textarea>
                </div>
                <div class="col-sm-12 d-flex justify-content-end">
                    <button class="sbmtbtn">Submit</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="lines">
                <div class="linesx1"></div>
                <small>CONTACT INFO</small>
                <div class="linesx1"></div>
                </div>
            <div class="text-start lh-1 fw-bold">
                <p>E-Shopper Inc.</p>
				<p>935 W. Webster Ave New Streets Chicago, IL 60614, NY</p>
				<p>Newyork USA</p>
				<p>Mobile: +2346 17 38 93</p>
				<p>Fax: 1-714-252-0026</p>
				<p>Email: info@e-shopper.com</p>
            </div>
            <div class="row mt-3">
                <div class="lines">
                    <div class="linesx1"></div>
                    <small>SOCIAL MEDIA</small>
                    <div class="linesx1"></div>
                    </div>
                <div class="div mt-3">
                    <ul class="g1 d-flex list-unstyled justify-content-evenly">
                        <li><a href=""><i class="fa-brands fa-facebook-f"></i></a></i></li>
                        <li><a href=""><i class="fa-brands fa-twitter"></i></a></i></li>
                        <li><a href=""><i class="fa-brands fa-youtube"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-google-plus-g"></i></a></li>
                    </ul>
                </div>

            </div>
            
                
        </div>

    </div>
</div>


{% endblock content %}